.green{
    color:darkgreen;
    font-family: 'Lucida Sans Unicode';
    font-size: 27px;
    letter-spacing: 0.25em;
    float: center;
    text-align: center;
}
.brown{
    color: darkgoldenrod;
    font-family: 'Lucida Sans Unicode';
    font-size: 27px;
    letter-spacing: 0.25em;
    float: center;
    text-align: center;
}    
h2{
    color: rgb(137, 179, 19);
    font-family: 'Lucida Sans Unicode';
    letter-spacing: 0.20em;
}
h3{
    color:darkgoldenrod;
    font-family: 'Lucida Sans Unicode';
}
#links{
    float: left;
    width: 100px;
}
#block1{
    padding: 10px, 15px;
    margin: 20px 20px 10px 140px;
}
#block2{
    border:#cbc3c3 1px solid;
    margin: 20px 20px 10px 140px;
    padding: 10px, 15px;
}
body{
    width: 900px;
    text-align: justify;
    margin: 10px auto;
    border: #cbc3c3 1px solid;
}
