
h1{
    color: rgb(48, 75, 95);
    font-style: italic;
    font-style: bold;
    font-family: Helvetica Neue', sans-serif;
}
h2{
    color: rgb(48, 75, 95);
    font-style: italic;
    font-style: bold;
    font-family: serif;


}
p{
    color: rgb(149, 178, 195);
    font-family: serif;
    font-size: 16px;


}